<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script>
   
</head>
<body>
<div class="container">

<h1> Register yourself for a Tribe (CreateNewUser Process) </h1>


<form action="/CreateNewUser" method="POST">
    <input type="text" placeholder="Enter a Username" name="username">
    <input type="text" placeholder="Enter a Password" name="password">
    <button type="submit" class="btn-success">Submit</button>
</form>


</div>
</body>
</html>